@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --on-background: #00222e;
  --on-background-2: #00435d;
  --background-1: #fff;
  --background-2: #e6f6fd;
}
[data-theme="dark"] {
  --on-background: #d1f3ff;
  --on-background-2: #a3e5ff;
  --background-1: #071417;
  --background-2: #0e282e;
}

a {
  text-decoration: none;
  color: var(--on-background);
  transition: border-bottom 0.25s ease;
}
a:is(:hover, :focus-visible) {
  border-bottom: 4px solid var(--on-background-2);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
  color: var(--on-background);
  background-color: var(--background-1);
  transition: background-color 0.5s ease, color 0.5s ease;
}

section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-block: 4rem;
}

section:nth-child(2n) {
  background-color: var(--background-2);
}

/* Section Header */

.nav {
  position: fixed;
  background-color: goldenrod;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-size: 1.25rem;
  top: 2rem;
  right: 2rem;
  background-color: var(--on-background);
  color: var(--background-1);
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 100;
}
.nav:is(:hover, :focus-visible) {
  background-color: var(--on-background-2);
}

.nav i {
  transition: transform 0.25s ease;
}

.nav:hover i {
  transform: scale(1.25);
}

#section-header {
  padding: 0;
}

.header h1 {
  font-size: 100px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  animation: focus-in-contract 3s linear;
}

h2 {
  font-size: 38px;
  position: relative;
  /* margin-block: 4rem; */
}
h2::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--on-background);
}

/* Typographix Animation */

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    letter-spacing: 0;
    filter: blur(0);
    opacity: 1;
  }
}

.social-media-icons {
  font-size: 70px;
  position: relative;
  top: -60px;
  text-align: center;

  i {
    animation: focus-in-contract 3s linear;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  i:hover {
    transform: scale(1.1);
  }
}

/* Section Hero */

.hero-img {
  height: 60vh;
  position: relative;
  top: -2.5rem;
  width: auto;
  object-fit: cover;
  border: 12px solid black;
  padding: 12px;
}

/* Section Gallery */

.gallery-container {
  display: flex;
  gap: 2rem;
}

.gallery-img {
  width: 20rem;
  height: auto;
  object-fit: cover;
  border: 6px solid black;
  padding: 6px;
}

/* Section Blog */

#section-blog {
  h2 {
    margin-block-end: 4rem;
  }
}

.blog-container {
  max-width: 60ch;
}

article {
  margin-bottom: 4rem;
}
h3 {
  font-size: 22px;
  margin-bottom: 0;
}

p {
  letter-spacing: 0.01rem;
  line-height: 1.5;
  font-size: 18px;
}

/* Section Footer */

#section-footer {
  position: relative;
  overflow: hidden;
  h2::after {
    display: none;
  }
  a {
    padding-block-end: 1rem;
  }

  .wave {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -10rem;
    z-index: -1;
  }

  .footer {
    z-index: 100;
    font-size: 20px;
    background-color: var(--background-2);
    color: var(--on-background-1);
    padding: 1rem 2rem;
    border-radius: 8px;
    /* color: var(--background-1); */
  }
}
